.section-search input{
    padding: 5px!important;
    font-size: 18px!important;
    width: 90%!important;
    border: #f4f4f4 3px solid!important;
}

.section-follow .fa-4x{
    margin: 5px 10px;
}

.section-follow .fa-4x:hover{
    color: azure;
}

.section-contact .fa-email{
    font-size: 2.5rem;
}
.section-contact .form-title{
    text-transform: uppercase;
}

footer{
    padding: 1px 0!important;
}